<html ng-app="worklogApp">
<head>
<title>Amdatu Multitenancy Example</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
<script src="worklog.js"></script>
</head>

<body>
	<h2>
		<a href="/user/">Users</a> | <a href="/issue/">Issues</a> | Worklogs
	</h2>
	<div ng-controller="WorklogController">


		<select ng-model="tenant" ng-change="selectTenant(filter)"
			ng-options="opt as opt.name for opt in tenants">
		</select>


		<ul class="unstyled">
			<li ng-repeat="worklog in worklogs track by $index"><span>{{worklog.issue.id}}-{{worklog.issue.summary}}
					{{worklog.date}} {{worklog.minutesSpent}}
					[{{worklog.user.displayName}}]</span></li>
		</ul>
		<form ng-submit="addWorklog()">
			<select ng-model="user"
				ng-options="opt as opt.displayName for opt in users">
				<option value="">Select user...</option>
			</select> <br />
			<select ng-model="issue"
				ng-options="opt as (opt.id + '-' + opt.summary) for opt in issues">
				<option value="">Select issue...</option>	
			</select>
			<br /> <input type="date" ng-model="date" size="30"> <br />
			<input type="text" ng-model="minutesSpent" size="30" placeholder="Minutes spent"> <br />


			<input class="btn-primary" type="submit" value="add">
		</form>
	</div>
</body>
</html>