<html ng-app="issueApp">
<head>
<title>Amdatu Multitenancy Example</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
<script src="issue.js"></script>
</head>

<body>
	<h2>
		<a href="/user/">Users</a> | Issues | <a href="/worklog/">Worklogs</a>
	</h2>
	<div ng-controller="IssueController">

		<select ng-model="tenant" ng-change="selectTenant(filter)"
			ng-options="opt as opt.name for opt in tenants">
		</select>


		<ul class="unstyled">
			<li ng-repeat="issue in issues track by $index"><span><strong>[{{issue.id}}-{{issue.summary}}]</strong> - {{issue.description}} [{{issue.createdBy.displayName}}]</span></li>
		</ul>
		<form ng-submit="addIssue()">
			<select ng-model="createdBy" ng-options="opt as opt.displayName for opt in users">
				<option value="">Select user...</option>
			</select> <br />
			<input type="text" ng-model="summary" size="30" placeholder="Issue summary"> <br /> 
			<input type="text" ng-model="description" size="30" placeholder="Issue description"> <br />
			<input class="btn-primary" type="submit" value="add">
		</form>
	</div>
</body>
</html>