<html ng-app="userApp">
<head>
<title>Amdatu Multitenancy Example</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
<script src="user.js"></script>
</head>

<body>
	<h2>
		Users | <a href="/issue/">Issues</a> | <a href="/worklog/">Worklogs</a>
	</h2>
	<div ng-controller="UserController">


		<select ng-model="tenant" ng-change="selectTenant(filter)"
			ng-options="opt as opt.name for opt in tenants">
		</select>


		<ul class="unstyled">
			<li ng-repeat="user in users track by $index"><span><strong>{{user.userName}}</strong>
					[{{user.displayName}}]</span></li>
		</ul>
		<form ng-submit="addUser()">
			<input type="text" ng-model="userName" size="30"
				placeholder="User name"> <br /> 
			<input type="text"
				ng-model="displayName" size="30" placeholder="Display name"> <br />
			<input class="btn-primary" type="submit" value="add">
		</form>
	</div>
</body>
</html>